// Font Colors
$primeryColor: #f2efe8;

// Header
$primeryHeaderColor: #e87c41;
$secondaryHeaderColor: #084ad8;

// Pop Color
$primeryPopColor: #990000;
$secondaryPopColor: #596157;
$thirdPopColor: lighgrey;

// Border
$primeryBorder: #fff;
$secondaryBorder: #919191;

// Background
$primeryBackground: #000;
